html>body{background:#fff; margin:0}
.header{ border-bottom: 1px solid #ccc;height:50px;}
.header table{width:100%;text-align:center; border:none; padding:0;}
.header table .td{width: 33.333%;height:50px;font-weight:bold;color:#fff;text-shadow:none; background:#548ac4; }
.header table .td:hover{background:#eee;cursor:pointer; color:#000;text-shadow:none}
.header table .active {background:#eee;cursor:pointer; color:#000;text-shadow:none}

.footer{ border-top: 1px solid #ccc; background:#ddd; height:50px;color:#000}
.footer table{width:100%;text-align:center; border:none; padding:0;poasition:relative;z-index:1000000000;}
.footer table .td{height:50px;font-weight:bold;text-shadow:none}
.footer table .td:hover{background:#ccc;cursor:pointer; color:#000;text-shadow:none}
.footer table .active {background:#ccc;cursor:pointer; color:#000;text-shadow:none}
.tdf{z-index:10}
#shakisha {display:none}